body {
  margin: 0px;
  position: relative;
  line-height: 1.5;
}

ul {
  margin: 0;
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
}

#map {
  width: 100vw;
  height: 100vh;
}

#btn {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20%;
  font-size: 30px;
  color: #000;
  z-index: 8;
}

#btn ul {
  background: #fff;
}

#btn ul li {
  text-align: left;
  width: 90%;
  margin: auto;
  height: 100px;
  border-bottom: 1px solid #888;
}

#btn ul li:last-child {
  border-bottom: none;
}

#btn ul li h1 {
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

#btn ul li h1 img {
  width: 70%;
}

#btn button {
  border: none;
  margin: 31px 0 0 28px;
  background: none;
}

#btn button:hover {
  color: #888;
}

#howto, #allData {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  background: rgba(255,255,255,0.8);
  width: 100%;
  height: 100%;
  display: none;
}

#howto .box, #allData .box {
  margin: 20px 0 0 20%;
  width: 65%;
  background: #fff;
  padding: 30px 50px;
  overflow: hidden;
}

#howto .box p {
  line-height: 1.5;
  margin: 0;
}

#howto .box p.text {
  float: left;
}

#howto .box #btnHowtoRemove {
    display: inline-block;
    padding: 0.001em 0.2em 0.2em;
    text-decoration: none;
    color: #888;
    border: solid 1px #888;
    border-radius: 3px;
    transition: 2.4s;
    font-size: 52px;
    line-height: 0.8;
    /* font-weight: normal; */
    float: right;
}

#howto .box ul {
  clear: both;
  overflow: hidden;
}

#howto .box ul li {
  width: 30%;
  float: left;
  margin: 0 40px 0 0;
}

#howto .box ul li:nth-child(3) {
  clear: both;
}

#howto .box ul li p {
  margin: 20px 0 10px;
}

#howto .box ul li img {
  width: 100%;
}

#howto .box p.clear {
  clear: both;
  padding: 20px 0 0 0;
}

#allData {

}