
main {
  width: 1350px;
  height: 100%;
}

header {
}

header img {
  width: 400px;
}

h1, h2, h3 {
  text-align: left;
}

section {
  padding: 10px 30px;
  width: 100%;
}

dt {
  border: 1px solid #000;
  width: 150px;
  padding: 5px;
  text-align: center;
  clear: both;
}

dd {
  text-align: left;
}

dd .entrypic {
  float: left;
}

dd .entrypic img {
  width: 400px;
}

dd .entrygraph {
  float: left;
}

dd .entrygraph img {
  width: 900px;
}

dd .entrytitle {
  font-weight: bold;
}

footer {
  clear: both;
}